<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Accesorios</title>
</head>
<body>
<h1>Listado de Accesorios</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="accesorio : ${accesoriosList}">
        <td th:text="${accesorio.id}"></td>
        <td th:text="${accesorio.nombre}"></td>
    </tr>
    </tbody>
</table>
<a href="/accesorios/formulario">Agregar Accesorio</a>
</body>
</html>