<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Ventas de Juegos</title>
</head>
<body>
<h1>Listado de Ventas de Juegos</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Fecha de Venta</th>
        <th>Precio</th>
        <th>Descuento</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ventaJuego : ${ventaJuegosList}">
        <td th:text="${ventaJuego.id}"></td>
        <td th:text="${ventaJuego.nombre}"></td>
        <td th:text="${ventaJuego.fechaVenta}"></td>
        <td th:text="${ventaJuego.precio}"></td>
        <td th:text="${ventaJuego.descuento}"></td>
        <td th:text="${ventaJuego.total}"></td>
    </tr>
    </tbody>
</table>
<a href="/venta-juegos/formulario">Agregar Venta de Juego</a>
</body>
</html>
